body {
  padding-bottom: 150px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 150px;
  background-color: #1e2022;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer * {
  color: white;
}
.footer-inner::before {
  position: absolute;
  top: 20%;
  left: 0;
  width: 90px;
  height: 70px;
  background: url("../img/footerLogo.png") center center no-repeat;
  background-size: contain;
  content: "";
}
.footer-inner {
  width: 1200px;
  height: 100%;
  padding-left: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer-inner * {
  margin: 0 !important;
  padding: 0 !important;
}
.part-list {
  list-style: none;
  display: flex;
  align-items: end;
  margin-bottom: 10px !important;
}
.border {
  width: 1px;
  height: 80%;
  margin: 0 10px !important;
  border-left: 1px solid #52616b;
}
.part-list li:nth-child(3) a {
  color: #3a8abf;
}
footer address {
  font-size: 0.8em;
  color: #52616b;
}
footer .footer-desc {
  font-size: 0.8em;
}
